{{- $model := partial "images/model.html" (dict
  "page" .Page
  "ref" .Destination
  "display" true
) -}}
{{- $picture := partial "images/picture.html" (dict
  "model" $model
  "alt" .PlainText
  "title" (cond (and (not .Page.Params.medium_source_url) .Title) .Title "")
  "loading" "lazy"
  "sizes" "(min-width: 60rem) 46rem, calc(100vw - 2rem)"
  "lightbox" true
) -}}
{{- if and .Page.Params.medium_source_url .Title -}}
<figure class="article-figure">
  {{ $picture }}
  <figcaption class="article-source-caption">{{ .Title }}</figcaption>
</figure>
{{- else -}}
{{ $picture }}
{{- end -}}
