{{- $page := .page -}}
{{- $meta := .meta -}}
{{- $node := false -}}

{{- if not $page.IsHome -}}
  {{- $items := slice (dict
    "name" site.Title
    "url" site.Home.Permalink
  ) -}}

  {{- if eq $meta.route.name "article" -}}
    {{- with $page.CurrentSection -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
    {{- $items = $items | append (dict "name" $meta.title "url" $meta.canonical) -}}
  {{- else if eq $meta.route.name "collection" -}}
    {{- with site.GetPage "/collections" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
    {{- $items = $items | append (dict "name" $meta.title "url" $meta.canonical) -}}
  {{- else if eq $meta.route.name "author" -}}
    {{- with site.GetPage "/authors" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
    {{- $items = $items | append (dict "name" $meta.title "url" $meta.canonical) -}}
  {{- else if or (eq $meta.route.name "about") (eq $meta.route.name "collection-list") (eq $meta.route.name "library") (eq $meta.route.name "gallery") (eq $meta.route.name "utility") (eq $meta.route.name "section-list") (eq $meta.route.name "page") -}}
    {{- $items = $items | append (dict "name" $meta.title "url" $meta.canonical) -}}
  {{- end -}}

  {{- if gt (len $items) 1 -}}
    {{- $listItems := slice -}}
    {{- range $index, $item := $items -}}
      {{- $listItems = $listItems | append (dict
        "@type" "ListItem"
        "position" (add $index 1)
        "name" $item.name
        "item" $item.url
      ) -}}
    {{- end -}}

    {{- $node = dict
      "@id" (printf "%s#breadcrumb" $meta.canonical)
      "@type" "BreadcrumbList"
      "itemListElement" $listItems
    -}}
  {{- end -}}
{{- end -}}

{{ return $node }}
