{{- $page := .page -}}
{{- $meta := .meta -}}
{{- $node := false -}}

{{- if not $page.IsHome -}}
  {{- $items := slice (dict
    "name" site.Title
    "url" site.Home.Permalink
  ) -}}
  {{- $leafName := $page.Title | default $meta.title -}}

  {{- if eq $meta.route.name "dialogue" -}}
    {{- with site.GetPage "/collections/syd-and-oliver-dialogues" -}}
      {{- $definition := partial "collections/lookup-definition.html" "syd-and-oliver-dialogues" -}}
      {{- $parentName := .Title -}}
      {{- with $definition -}}
        {{- $parentName = .title | default $parentName -}}
      {{- end -}}
      {{- $items = $items | append (dict
        "name" $parentName
        "url" .Permalink
      ) -}}
    {{- end -}}
  {{- else if eq $meta.route.name "article" -}}
    {{- with site.GetPage "/archive" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
  {{- else if eq $meta.route.name "shop-product" -}}
    {{- with site.GetPage "/shop" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
  {{- else if eq $meta.route.name "shop-sample" -}}
    {{- with site.GetPage "/shop" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
    {{- $productPage := partial "schema/resolve-product-page.html" (dict "key" $page.Params.sample_of_book_key) -}}
    {{- with $productPage -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
  {{- else if eq $meta.route.name "collection" -}}
    {{- with site.GetPage "/collections" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
    {{- $leafName = $meta.title -}}
  {{- else if eq $meta.route.name "author" -}}
    {{- with site.GetPage "/authors" -}}
      {{- $items = $items | append (dict
        "name" .Title
        "url" .Permalink
      ) -}}
    {{- end -}}
  {{- end -}}

  {{- $items = $items | append (dict "name" $leafName "url" $meta.canonical) -}}

  {{- if gt (len $items) 1 -}}
    {{- $listItems := slice -}}
    {{- range $index, $item := $items -}}
      {{- $listItems = $listItems | append (dict
        "@type" "ListItem"
        "position" (add $index 1)
        "name" $item.name
        "item" $item.url
      ) -}}
    {{- end -}}

    {{- $node = dict
      "@id" (printf "%s#breadcrumb" $meta.canonical)
      "@type" "BreadcrumbList"
      "itemListElement" $listItems
    -}}
  {{- end -}}
{{- end -}}

{{ return $node }}
