{{- $page := .page -}}
{{- $meta := .meta -}}
{{- $organization := .organization -}}
{{- $image := .image -}}
{{- $author := .author -}}
{{- $result := false -}}

{{- if $meta.route.is_article_like -}}
  {{- $workType := "Article" -}}
  {{- if eq $meta.route.name "dialogue" -}}
    {{- $workType = "ShortStory" -}}
  {{- else if eq $meta.route.name "shop-sample" -}}
    {{- $sampleWorkType := lower (strings.TrimSpace (printf "%v" ($page.Params.sample_work_type | default ""))) -}}
    {{- if eq $sampleWorkType "short-story" -}}
      {{- $workType = "ShortStory" -}}
    {{- end -}}
  {{- end -}}
  {{- $topicNames := slice -}}
  {{- $topicKeys := slice -}}
  {{- $node := dict
    "@id" (printf "%s#primaryentity" $meta.canonical)
    "@type" $workType
    "headline" $meta.title
    "name" $meta.title
    "description" $meta.description
    "url" $meta.canonical
    "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $meta.canonical))
    "publisher" (dict "@id" (index $organization "@id"))
    "inLanguage" ($page.Site.Language.Locale | default "en-US")
  -}}

  {{- if eq $workType "Article" -}}
    {{- with $meta.route.section_label -}}
      {{- $sectionName := strings.TrimSpace (printf "%v" .) -}}
      {{- $sectionKey := lower $sectionName -}}
      {{- $node = merge $node (dict "articleSection" $sectionName) -}}
      {{- if and $sectionKey (not (in $topicKeys $sectionKey)) -}}
        {{- $topicNames = $topicNames | append $sectionName -}}
        {{- $topicKeys = $topicKeys | append $sectionKey -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if eq $meta.route.name "dialogue" -}}
    {{- with site.GetPage "/collections/syd-and-oliver-dialogues" -}}
      {{- $node = merge $node (dict
        "genre" "Literary dialogue"
        "isPartOf" (dict "@id" (printf "%s#series" .Permalink))
      ) -}}
    {{- else -}}
      {{- errorf "Dialogue schema requires the Syd and Oliver collection page" -}}
    {{- end -}}
  {{- else if eq $meta.route.name "shop-sample" -}}
    {{- $productPage := partial "schema/resolve-product-page.html" (dict "key" $page.Params.sample_of_book_key) -}}
    {{- with $productPage -}}
      {{- $node = merge $node (dict
        "isPartOf" (dict "@id" (printf "%s#primaryentity" .Permalink))
      ) -}}
    {{- end -}}
  {{- end -}}

  {{- with $page.Params.section_label -}}
    {{- $sectionName := strings.TrimSpace (printf "%v" .) -}}
    {{- $sectionKey := lower $sectionName -}}
    {{- if and $sectionKey (not (in $topicKeys $sectionKey)) -}}
      {{- $topicNames = $topicNames | append $sectionName -}}
      {{- $topicKeys = $topicKeys | append $sectionKey -}}
    {{- end -}}
  {{- end -}}

  {{- with $meta.dates.published_iso -}}
    {{- $node = merge $node (dict "datePublished" .) -}}
  {{- end -}}

  {{- with $meta.dates.modified_iso -}}
    {{- $node = merge $node (dict "dateModified" .) -}}
  {{- end -}}

  {{- with $page.Params.version -}}
    {{- $node = merge $node (dict "version" (printf "%v" .)) -}}
  {{- end -}}

  {{- with $page.Params.medium_source_url -}}
    {{- $node = merge $node (dict "isBasedOn" .) -}}
  {{- end -}}

  {{- with $image -}}
    {{- $node = merge $node (dict "image" (dict "@id" (index . "@id"))) -}}
  {{- end -}}

  {{- $collectionMatches := partial "collections/resolve-page-collections.html" (dict "page" $page "publicOnly" true) -}}
  {{- range $collectionMatches -}}
    {{- $collectionName := strings.TrimSpace (printf "%v" .collection.title) -}}
    {{- $collectionKey := lower $collectionName -}}
    {{- if and $collectionKey (not (in $topicKeys $collectionKey)) -}}
      {{- $topicNames = $topicNames | append $collectionName -}}
      {{- $topicKeys = $topicKeys | append $collectionKey -}}
    {{- end -}}
  {{- end -}}

  {{- $tagTerms := partial "collections/normalize-values.html" (dict "value" $page.Params.tags) -}}
  {{- $subjectTerms := partial "collections/normalize-values.html" (dict "value" $page.Params.topics) -}}
  {{- range (append $tagTerms $subjectTerms) -}}
    {{- $topicName := strings.TrimSpace (printf "%v" .) -}}
    {{- $topicKey := lower $topicName -}}
    {{- if and $topicKey (not (in $topicKeys $topicKey)) -}}
      {{- $topicNames = $topicNames | append $topicName -}}
      {{- $topicKeys = $topicKeys | append $topicKey -}}
    {{- end -}}
  {{- end -}}

  {{- if gt (len $topicNames) 0 -}}
    {{- $aboutTopics := slice -}}
    {{- range $topicNames -}}
      {{- $aboutTopics = $aboutTopics | append (dict "@type" "Thing" "name" .) -}}
    {{- end -}}
    {{- $node = merge $node (dict
      "about" $aboutTopics
      "keywords" (delimit $topicNames ", ")
    ) -}}
    {{- if not (isset $node "genre") -}}
      {{- $node = merge $node (dict "genre" (index $topicNames 0)) -}}
    {{- end -}}
  {{- end -}}

  {{- $authorRefs := $author.refs | default (slice) -}}
  {{- if eq (len $authorRefs) 1 -}}
    {{- $node = merge $node (dict "author" (index $authorRefs 0)) -}}
  {{- else if gt (len $authorRefs) 1 -}}
    {{- $node = merge $node (dict "author" $authorRefs) -}}
  {{- end -}}

  {{- $result = dict
    "node" $node
    "author_nodes" ($author.nodes | default (slice))
  -}}
{{- end -}}

{{ return $result }}
