{{- $page := .page -}}
{{- $organization := .organization -}}
{{- $resolved := partial "authors/resolve.html" (dict
  "page" $page
  "fallbackDefault" true
) -}}

{{- $refs := slice -}}
{{- $nodes := slice -}}

{{- range $entry := $resolved.entries -}}
  {{- $node := dict
    "@id" $entry.node_id
    "@type" ($entry.type | default "Person")
    "name" $entry.name
  -}}
  {{- with $entry.url -}}
    {{- $node = merge $node (dict "url" .) -}}
  {{- end -}}
  {{- with $entry.same_as -}}
    {{- if gt (len .) 0 -}}
      {{- $node = merge $node (dict "sameAs" .) -}}
    {{- end -}}
  {{- end -}}
  {{- with $entry.description -}}
    {{- $node = merge $node (dict "description" .) -}}
  {{- end -}}
  {{- if and (eq $entry.type "Organization") $entry.parent_organization -}}
    {{- $node = merge $node (dict "parentOrganization" (dict "@id" (index $organization "@id"))) -}}
  {{- end -}}
  {{- $nodes = $nodes | append $node -}}
  {{- $refs = $refs | append (dict "@id" $entry.node_id) -}}
{{- end -}}

{{- $result := dict
  "refs" $refs
  "nodes" $nodes
  "primary" $resolved.primary
  "entries" $resolved.entries
  "names" $resolved.names
-}}
{{ return $result }}
