{{- $page := .page -}}
{{- $meta := .meta -}}
{{- $links := slice -}}

{{- if eq $meta.route.name "home" -}}
  {{- range (slice "/start-here" "/essays" "/syd-and-oliver" "/collections" "/library") -}}
    {{- with site.GetPage . -}}
      {{- $links = $links | append .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $meta.route.name "collection-list" -}}
  {{- range first 5 (partial "collections/get-public-entries.html" $page) -}}
    {{- with .page -}}
      {{- $links = $links | append .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $meta.route.name "collection" -}}
  {{- $items := slice -}}
  {{- with $meta.collection -}}
    {{- $items = partial "collections/resolve-items.html" (dict "collection" .) -}}
  {{- end -}}
  {{- range (slice "/collections" "/library") -}}
    {{- with site.GetPage . -}}
      {{- $links = $links | append .Permalink -}}
    {{- end -}}
  {{- end -}}
  {{- with $meta.collection -}}
    {{- with .start_here -}}
      {{- $startHereSlug := lower (printf "%v" .) -}}
      {{- range $items -}}
        {{- if eq (lower (printf "%v" (.Params.slug | default .File.BaseFileName))) $startHereSlug -}}
          {{- $links = $links | append .Permalink -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range first 3 $items -}}
    {{- $links = $links | append .Permalink -}}
  {{- end -}}
{{- else if eq $meta.route.name "library" -}}
  {{- range (slice "/collections" "/start-here" "/essays" "/syd-and-oliver") -}}
    {{- with site.GetPage . -}}
      {{- $links = $links | append .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $meta.route.name "start-here" -}}
  {{- range (slice "/essays" "/syd-and-oliver" "/collections" "/library") -}}
    {{- with site.GetPage . -}}
      {{- $links = $links | append .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $meta.route.name "section-list" -}}
  {{- range (slice "/collections" "/library") -}}
    {{- with site.GetPage . -}}
      {{- $links = $links | append .Permalink -}}
    {{- end -}}
  {{- end -}}
  {{- range first 3 (sort $page.Pages "Date" "desc") -}}
    {{- $links = $links | append .Permalink -}}
  {{- end -}}
{{- end -}}

{{- return (uniq $links) -}}
