{{- $organization := .organization -}}
{{- $organizationID := index $organization "@id" -}}
{{- $organizationData := site.Data.organization -}}
{{- $node := dict
  "@id" (printf "%s#website" (strings.TrimSuffix "/" site.BaseURL))
  "@type" "WebSite"
  "url" site.BaseURL
  "name" site.Title
  "description" ($organizationData.description | default "")
  "publisher" (dict "@id" $organizationID)
  "inLanguage" (site.Language.LanguageCode | default "en-US")
-}}
{{- $node = merge $node (dict "potentialAction" (dict
  "@type" "SearchAction"
  "target" (dict
    "@type" "EntryPoint"
    "urlTemplate" (printf "%slibrary/?q={search_term_string}" site.BaseURL)
  )
  "query-input" "required name=search_term_string"
)) -}}
{{ return $node }}
