{{- $section := .Section | default "" -}}
{{- $relPermalink := .RelPermalink | default "" -}}
{{- $name := "page" -}}
{{- $socialType := "website" -}}
{{- $isArticleLike := false -}}
{{- $sectionLabel := "" -}}
{{- $isRandomRoute := false -}}

{{- if .Params.section_label -}}
  {{- $sectionLabel = .Params.section_label -}}
{{- else -}}
  {{- if $section -}}
    {{- $sectionLabel = humanize $section -}}
  {{- end -}}
{{- end -}}

{{- if eq $section "random" -}}
  {{- $isRandomRoute = true -}}
{{- end -}}

{{- if and (not $isRandomRoute) $relPermalink (strings.HasSuffix $relPermalink "/random/") -}}
  {{- $isRandomRoute = true -}}
{{- end -}}

{{- if .IsHome -}}
  {{- $name = "home" -}}
{{- end -}}

{{- if and (eq $name "page") .IsPage (in (slice "essays" "syd-and-oliver" "working-papers") $section) -}}
  {{- $name = "article" -}}
  {{- $socialType = "article" -}}
  {{- $isArticleLike = true -}}
{{- end -}}

{{- if and (eq $name "page") .IsPage (eq $section "collections") -}}
  {{- $name = "collection" -}}
{{- end -}}

{{- if and (eq $name "page") .IsSection (eq $section "collections") -}}
  {{- $name = "collection-list" -}}
{{- end -}}

{{- if and (eq $name "page") .IsSection (eq $section "library") -}}
  {{- $name = "library" -}}
{{- end -}}

{{- if and (eq $name "page") .IsPage (eq $section "start-here") -}}
  {{- $name = "start-here" -}}
{{- end -}}

{{- if and (eq $name "page") .IsPage (eq $section "about") -}}
  {{- $name = "about" -}}
{{- end -}}

{{- if and (eq $name "page") .IsPage (eq $section "authors") -}}
  {{- $name = "author" -}}
{{- end -}}

{{- if and (eq $name "page") $isRandomRoute -}}
  {{- $name = "utility" -}}
{{- end -}}

{{- if and (eq $name "page") .IsSection $section -}}
  {{- $name = "section-list" -}}
{{- end -}}

{{- $result := dict
  "name" $name
  "social_type" $socialType
  "is_article_like" $isArticleLike
  "section" $section
  "section_label" $sectionLabel
-}}
{{ return $result }}
