<dialog id="home-featured-image-dialog" class="home-featured-image-dialog" data-home-featured-dialog aria-labelledby="home-featured-image-title">
  <div class="home-featured-image-dialog__header">
    <p id="home-featured-image-title" data-home-featured-image-title></p>
    <button type="button" data-home-featured-close aria-label="Close illustration" autofocus><span aria-hidden="true">&times;</span></button>
  </div>
  <button class="home-featured-image-dialog__art" type="button" data-home-featured-image-close aria-label="Close illustration">
    <img data-home-featured-image alt="" decoding="async">
  </button>
  <p class="home-featured-image-dialog__hint">Tap the image to close.</p>
</dialog>
