{{- $image := "" -}}
{{- $route := partial "metadata/route.html" . -}}

{{- with .Params.images -}}
  {{- with index . 0 -}}
    {{- $image = . -}}
  {{- end -}}
{{- end -}}

{{- if not $image -}}
  {{- with .Params.image -}}
    {{- $image = . -}}
  {{- end -}}
{{- end -}}

{{- if not $image -}}
  {{- with .Params.featured_image -}}
    {{- $image = . -}}
  {{- end -}}
{{- end -}}

{{- if and (not $image) $route.is_article_like -}}
  {{- $rawContent := .RawContent | default "" -}}
  {{- $localMarkdownImageMatches := findRESubmatch `!\[[^\]]*\]\((/images/[^)\s]+)` $rawContent 1 -}}
  {{- if gt (len $localMarkdownImageMatches) 0 -}}
    {{- $image = index (index $localMarkdownImageMatches 0) 1 -}}
  {{- else -}}
    {{- $localHtmlImageMatches := findRESubmatch `<img[^>]+src="(/images/[^"]+)"` $rawContent 1 -}}
    {{- if gt (len $localHtmlImageMatches) 0 -}}
      {{- $image = index (index $localHtmlImageMatches 0) 1 -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $image -}}
  {{- if or (hasPrefix $image "http://") (hasPrefix $image "https://") -}}
    {{- $image -}}
  {{- else -}}
    {{- ($image | strings.TrimPrefix "/" | absURL) -}}
  {{- end -}}
{{- end -}}
