{{- $page := .page -}}
{{- $meta := .meta -}}
{{- $organization := partial "schema/organization.html" (dict "page" $page "meta" $meta) -}}
{{- $website := partial "schema/website.html" (dict "page" $page "meta" $meta "organization" $organization) -}}
{{- $image := partial "schema/image.html" (dict "page" $page "meta" $meta) -}}
{{- $breadcrumb := partial "schema/breadcrumbs.html" (dict "page" $page "meta" $meta) -}}
{{- $author := partial "schema/resolve-author.html" (dict
  "page" $page
  "meta" $meta
  "organization" $organization
) -}}
{{- $webpage := partial "schema/webpage.html" (dict
  "page" $page
  "meta" $meta
  "website" $website
  "image" $image
  "breadcrumb" $breadcrumb
  "author" $author
  "organization" $organization
) -}}
{{- $creativeWork := partial "schema/creative-work.html" (dict
  "page" $page
  "meta" $meta
  "organization" $organization
  "image" $image
  "author" $author
) -}}

{{- $graph := slice $organization $website $webpage -}}

{{- with $image -}}
  {{- $graph = $graph | append . -}}
{{- end -}}

{{- with $breadcrumb -}}
  {{- $graph = $graph | append . -}}
{{- end -}}

{{- if or $meta.route.is_article_like (eq $meta.route.name "author") -}}
  {{- with $author.nodes -}}
    {{- range . -}}
      {{- $graph = $graph | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with $creativeWork -}}
  {{- with .node -}}
    {{- $graph = $graph | append . -}}
  {{- end -}}
{{- end -}}

<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}</script>
