{{- $page := . -}}
{{- $match := false -}}
{{- $path := $page.RelPermalink | default "" -}}
{{- if $path -}}
  {{- $path = printf "/%s" (strings.TrimPrefix "/" $path) -}}
  {{- range (site.Data.editorial_cartoons.cartoons | default (slice)) -}}
    {{- $essay := .essay | default "" -}}
    {{- if and (not $match) $essay -}}
      {{- $essayPath := printf "/%s" (strings.TrimPrefix "/" $essay) -}}
      {{- if eq $essayPath $path -}}
        {{- $match = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $match -}}
